<%
  if action == :login
    action_url = session_url
    button_txt = 'Log In'
  elsif action == :signup
    action_url = users_url
    button_txt = 'Sign Up'
  end
%>
<form action="<%= action_url %>" method="post">
  <%= auth_token %>
  <label for="email">
    Email:
    <input type="text" name="user[email]" value="">
  </label>
  <label for="password">
    Password:
    <input type="password" name="user[password]" value="">
  </label>
  <input type="submit" value="<%= button_txt %>">
</form>
